* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    /* display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: stretch; */
    background-color: #1C1C24;
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 800px;
    max-width: 70%;
    min-height: 90vh;
}

header {
  height: 15vh;
  margin-bottom: 2rem;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #FAFAFB;
    height: 5rem;
}

a {
  color: #94FFB2;
}

label, .tip span {
    color: #92929D;
}

input[type="text"] {
    background-color: #292932;
    color: #92929D;
    width: 100%;
    /* max-width: 70%; */
    height: 100%;
    border: none;
    border-radius: 15px 2px 2px 15px;
    padding-left: 1rem;
}

input[type="text"]:focus {
    outline: none;
    Border: 2px solid #94FFB2;
    padding-left: 0.875rem;
}

.options select {
    margin-left: 0.5rem;
}

button.options-btn {
    background-color: none;
    color: #92929D;
    outline: none;
    background: transparent;
    border: 1px solid transparent;
    margin: 1rem;
}

button:hover {
    cursor: pointer;
    opacity: 85%;
}

button:active, button:focus {
    outline: none;
    opacity: 85%;
}

.searchbar {
    width: 100%;
    height: 3rem;
    justify-content: space-between;
}

.searchbar button {
    margin-left: 3px;
}

.search-btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    height: 100%;
    width: 8rem;
    border-radius: 2px 15px 15px 2px;
    border: none;
    background-color: #94FFB2;
    color: #1C1C24;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.options {
    color: #92929D;
    font-weight: 300;
    font-size: 0.875rem;
    flex-flow: row wrap;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    background-color: #292932;
    border-radius: 15px;
    padding: 1rem 1rem 1rem;
}

.options .item {
    margin: 0.325rem 0.5rem;
    /* border-left: 4px solid rgba(255, 255, 255, 0.5); */
}

.tip {
  text-align: left;
  background-color: transparent;
  border-radius: 15px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-flex-start;
  align-content: center;
  align-items: flex-start;
  margin: 2rem 1rem 1rem;
  padding: 1rem;
  border: 2px solid #94FFB2;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
}

.tip  span {
  height: 1.75rem;
  width: 3rem;
  padding: 0.25rem 0.5rem;
  text-align: center;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 500;
  color: #1C1C24;
  background-color: #94FFB2;
  border-radius: 01rem;
}

/* .options .item::after {
  content: '|';
} */

/* ANIMATIONS */
.options {
  animation-duration: 0.4s;
  animation-name: slidein, fadein;
}

@keyframes slidein {
  from {
    /* margin-top: 100%; */
    width: 100%;
    height: 0px;
  }

  to {
    /* margin-top: 0%; */
    width: 100%; 
    height: 100%;
  }
}

@keyframes fadein {
  from {
    opacity: 0%;
  }

  40% {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}


.tip {
  animation-duration: 1.5s;
  animation-name: fadein;
}


/* INPUT STYLING */
.example .hashtag {
  color: white;
  background-color: rgb(155, 140, 120);
  text-transform: lowercase;
}

.example .creator {
  color: white;
  background-color: rgb(50, 95, 161);
}

.example span {
  margin: 0px 0.25rem;
}

.example i {
  font-style: italic;
  font-weight: 200;
}

/* RESULTS PAGE */
.results {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: top;
}

.results main {
  margin-top: 3rem;
}

.results h2 {
  font-size: 1.25rem;
  display: flex;
  flex-flow: row wrap;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #FAFAFB;
  margin: 2rem 1rem;
}

.results h3 {
  font-weight: 400;
  margin: 0.125rem;
  margin-bottom: 0rem;
}

.results header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  width: 100%;
}

.results .options {
  margin: 0.25rem 0.25rem 1rem;
  justify-content: center;
  width: auto;
  background-color: transparent;
}

.results .searchbar {
  justify-content: center;
  min-width: 500px;
  margin-top: 2rem;
  width: 100%;
}

.results .searchbar input[type="text"] {
  min-width: 60vw;
  max-width: 700px
}

.results nav {
  text-align: center;
}

.results nav a {
  margin: 1rem 1rem;
}

.results {
  color:#92929D;
}

.search-result {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  text-align: left;
  margin-bottom: 1.5rem;
}

.search-result p {
  font-size: 0.875rem;
  margin: 0.125rem;
  font-weight: lighter;
  line-height: 1.25rem;
}

.search-result a {
  opacity: 0.75;
  font-size: 0.875rem;
  font-weight: lighter;
}

.search-result a:hover {
  opacity: 1;
}